body {
  /* background-image: url(../image/alice_in_wonderland_rabbit.jpeg);
  background-size: 500px; */
  background: url(../image/ezgif.com-webp-to-jpg.jpg);
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.948);
  margin: 60px auto;
  max-width: 600px;
  border-radius: 5px;
  padding: 30px;
}

select {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dotted black;
}

.city:last-child {
  border: none;
}

footer {
  text-align: center;
  font-size: 15px;
}
